extends layout

block content
  h1= title
  //- link(rel='stylesheet', href='/stylesheets/style.css')
  label post json
  form(method="post",action="/post")
    textarea(id="jsoninput",name="post_json",style="width: 800px; height: 300px;")
    br
    input(type="submit",value="submit")

